<div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="row">
                  <ul>
                      <li><h3></h3><b>Languages:</b> Java, Kotlin, Python</li>
                      <li><h3></h3><b>Web Technologies:</b> HTML5, CCS3, Bootstrap, JavaScript</li>
                      <li><h3></h3><b>Frameworks:</b> JSF, J2EE, Hibernate, Angular 8, Spring Framework 4, Spring Boot2, Junit</li>
                      <li><h3></h3><b>IDE:</b> Eclipse, PyCharm, IntelliJ Idea, Android Studio, Visual Studio Code</li>
                      <li><h3></h3><b>Database:</b> Oracle 10g,11g, MYSQL</li>
                      <li><h3></h3><b>Servers:</b> Apache Tomcat</li>
                      <li><h3></h3><b>Tools:</b> Ant, Maven, SonarQube, JIRA, GitHub, Gradle, BitBucket, Jenkins, Confluence</li>
                      <li><h3></h3><b>Webservices:</b> Rest API and Microservices</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>