<div class="section" id="portfolio">
    <div class="container cc-portfolio">
        <div class="h4 text-center mb-4 title">Certifications</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
      <div class="row">
          <ul>
            <li><h3></h3><b>Scrum Alliance Certified Scrum Master</b></li>
            <li><h3></h3><b>Oracle Cloud Infrastructure Foundations 2020 Certified Associate</b></li>
            <li><h3></h3><b>Oracle Cloud Infrastructure Developer 2020 Certified Associate</b></li>
          </ul>
        </div>
        </div>
        </div>
    </div>
  </div>