<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-success" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2019</p>
              <div class="h5">Masters's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Software Engineering</div>
               <h4 class="category">University of Limerick</h4>
               <ul>
                <li>Completed Masters with First Class Honors 2.1</li>
                <li> Overall QCA: 3.61 </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
          <div class="row">
            <div class="col-md-3 bg-warning" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-education-header">
                <p>2019 - 2020</p>
                <div class="h5">CPD Certificate</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">CPD Certificate in Professional Engineering</div>
                 <h4 class="category">Technological University Dublin</h4>
                 <ul>
                  <li>Completed CPD Certificate in Professional Engineering</li> 
                  <li>The transition from University or college life to the world of work requires substantial application and attention. The CPD Certificate in Professional Engineering has been specifically designed in partnership with leading employers to allow recent graduates (up to 12 months out) to get to grips quickly with the professional standards expected of those working in engineering-led teams and organizations.  </li> 
               </ul>
              </div>
            </div>
          </div>
        </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2015</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Electronics & Communication Engineering</div>
               <h4 class="category">LBS Institute of Technology for Women, Poojappura, Thiruvananthapuram University of Kerala
               </h4>
               <ul>
                <li>Completed B Tech in Electronics and Communication with a First Class and Distinction</li>
                <li>Received Proficiency award for securing first position in ECE branch for S8 semester B.Tech Degree Examination.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2009 - 2011</p>
              <div class="h5">Higher Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Holy Angel's Convent H S S
               </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>