<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/smokingapp.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">NICORETTE® Stop Smoking</h4>
          <h5 class="card-text"><b>Technology :</b> Android, Kotlin </h5>
            <h5 class="card-text"><a href="https://play.google.com/store/apps/details?id=com.jnj.con.synergy&hl=en_IE">Go to play store</a></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/beerse.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Beerse One Way</h4>
        <h5 class="card-text"><b>Technology :</b> Android, Java </h5>
          <h5 class="card-text"><a href="https://play.google.com/store/apps/details?id=com.jnj.ascm.campustour&hl=en_IE">Go to play store</a></h5>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
  <div class="card" >
    <img class="card-img-top" src="assets/images/tracker1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Covid Tracker</h4>
      <h5 class="card-text"><b>Technology :</b> Angular8</h5>
        <h5 class="card-text"><a href="https://coronavirustracker-2020.netlify.app/home">View Website</a></h5>
    </div>
  </div>
</div>
</div>
    
    
    </div>
    </div>
  </div>